*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color:black;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;

}
.first {
    width:90%;
    height: 700px;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(17, 16, 16);
    padding: 50px,60px, 70px;
    text-align: center;
    
    
}
.first img{
    display: flex;
    border-radius: 50%;
    margin-top:50px;
    margin-bottom: 70px;
    display:flex;
    margin-left: 130px;

}
.second h1{
    color: white;
    font-size: 28px;
}
.second h5{
    color: yellowgreen;
    font-size: 16px;
    font-weight: 400;
    margin: 5px 0 20px 0;
}
p{
    color: antiquewhite;
    font-weight: 400;
    font-size: 15px;
}
.button-1{
    width: 300px;
    height: 39px;
    margin: 10px 7px;
    color: white;
    border-radius: 7px;
    background: rgb(48, 42, 42);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.three ul li{
    list-style: none;
}
.button-1:hover{
    transition-duration:0.5s;
    color:black;
    background: goldenrod;
}


